/*
 * This CSS file has been generated and is served by Persona.co
 * and is authorized to be used on Persona only. 
 *
 * This CSS resource incorporates links to font software which is 
 * the valuable copyrighted property of WebType LLC, The Font Bureau 
 * and/or their suppliers. You may not 
 * attempt to copy, install, redistribute, convert, modify or reverse 
 * engineer this font software. Please contact WebType with any 
 * questions: http://www.webtype.com 
 */

@font-face {
  font-family: "Nitti Grotesk";
  src: url("http://type.persona.co/NittiGrotesk/a16bc827-61b5-4dfc-b11e-bb4191d0a814-3.woff?Expires=1505835058&Signature=Xl6q42MbFEFFFjOIgfmsALPhtfqU6Naio4-ZxBN6Z~SQ9hkt1uWpY6RJQpGp5GiYf5tDNspzY8nnCUJDQt2udfrlrMYe-LRAqgpcpYjz3AwqvX4jw9r66ArTtHCnlDsKYQul84kizu4ZYfYnxduhx7b8MCUhR19C5RgETsqnPvUddMfTJBlu6z2Y0wfUXTKWap4ecfz6WTGhv-uNqI-oXrqP6eE4x0bgVLNZ3KoqMITP0R-gF5qw8KmBn-9Ng48GU8og8FTPUmseZiqmXTrNaogyahmuLPbaqbTgX~NFY0Obxg4y1O6VmXRXyuMZKWLSFDv-6fgclUFs5aGt7--1Ag__&Key-Pair-Id=APKAJF6QV4IIZQBZN32Q") format("woff");
  font-style: normal;
  font-weight: 200;
  unicode-range: U+0000-DFFF, U+F900-FFFD;
}
@font-face {
  font-family: "Nitti Grotesk";
  src: url("http://type.persona.co/NittiGrotesk/6a303422-ee54-4845-b8a2-01ba772934a4-3.woff?Expires=1505835058&Signature=X-X4GhC0HbIJrxAbvVJRrmpAF4dqH7GLBcJ6nunTme9wZUynjCI4khFAGszJKN8MkS3qI0AesOqF~lO7MPAXh9o2jN-T9ln9-LEnmLTmRBCr8oDw-ent8icW0PE4l44bHZ41dRZT4bSaEcfCXOFsUr853WW-XVYlFy6fYG~YiT7shNc8HFr3GSZL~D9sQ75kQArI4Hm8J2wUQOB6zcCC-HGJepDgb~~orKYpGxUMpmiqEHljhsJ2-ESkI9JA3Bs7nkoRMrJOsmDiZU6sIuBj~q3SyclerhnikblIY6m7D9vmgXjWtndGJclmXscrxXpX3pGZRyvxOjcVpASgmzeufw__&Key-Pair-Id=APKAJF6QV4IIZQBZN32Q") format("woff");
  font-style: italic;
  font-weight: 200;
  unicode-range: U+0000-DFFF, U+F900-FFFD;
}
@font-face {
  font-family: "Nitti Grotesk";
  src: url("http://type.persona.co/NittiGrotesk/b81086a2-5ae3-4417-b202-2f3527621478-3.woff?Expires=1505835058&Signature=RUFVwAF1ZFfPVqz07-FJ6wvjEFNVd8ay7XAWNWkwa2MqhSLjs87I1v56pUd641R~BtN9l2zpNJ~qyy4L7UgmPAL88HVQW8Txm1FYVEknF902Noj1QjGPZKdVggjXhw9vY25G3KIhJzlUgYFbYddmOIJ7tz-06vY9dNfk7SdFl8E48nVFhjfMCe3MqfiFWTvh7oddN2Ex2avbZby3zvkKdw4jCB-y7Xxeltp20AyyGuzt58jGMXClaI~jsE9XjhbWcg79LlsQCL~oBOCVRmsuxQH9j~hwEEFsj7pecZmoiu1-HgiZW7DU4lbrlgr3wfPQKN~CJq08D6KmLaAgmieewA__&Key-Pair-Id=APKAJF6QV4IIZQBZN32Q") format("woff");
  font-style: normal;
  font-weight: normal;
  unicode-range: U+0000-DFFF, U+F900-FFFD;
}
@font-face {
  font-family: "Nitti Grotesk";
  src: url("http://type.persona.co/NittiGrotesk/9e25d42f-61ef-423a-8b97-a5e39285554a-3.woff?Expires=1505835058&Signature=FMffyTma2d9Yq3fb49GJyIXReKqJWKcArhZSRi0ASUdlUZ1Px7ASuUlmSHXnssdkPFu5C2gSF2A6q49jiwz64xjB6connRIvKY8zHHecJ6mkZQlACdN1z5M7sn5qACV~FfP~Awk1Aqqg69bjtmjKsE1ezJAMOhUV3hz2CroiQHZ9cKLreM2pQVZ~XRgJXuBi6aPRuquG6k3G4Ku0~hkef0fjAzQdRhACMW9UqJbWY40EeA0ya4br3hzAPDB9zh-cX~Tx99JZgEKG-wfi0ILc8niE1k8SmHLK-MN68faF2P9tZiR2ybIi76GahyCnX6d2Ozf5UGeqmPIAixhDVj~0jQ__&Key-Pair-Id=APKAJF6QV4IIZQBZN32Q") format("woff");
  font-style: italic;
  font-weight: normal;
  unicode-range: U+0000-DFFF, U+F900-FFFD;
}
@font-face {
  font-family: "Nitti Grotesk";
  src: url("http://type.persona.co/NittiGrotesk/52af5be8-4bb6-43ad-b99d-a62836aab6f4-3.woff?Expires=1505835058&Signature=hVXgNW2uKynDkI8DiOJ0SetXDEGDKj6uaIqe1WX2hKqgOgglONW8i3ZJepFdHsJo4pW8LhJx~8IEQy7u9vKwsCZ2mpqBZigoFqVjs0I708hplmX5C~1gHoDLfFVfJDcZfOWsTQhi9T9YZS7C93d-hYY6Ig-jbWKsYzAq6~0lgphtK1fyfpKGxwHlvFyBt4XeAuV0ffbw0ssD~6ZcnRPA9L3jgX0umcVH9MXVgoxIWN2fH4O6d5Ty4n0MKfIFVXeDzuBbS9stwD-k2XWcR6Gm4MreJjEPA4~lfN9XMJt49IMV91i0U2qWdmeHnM~znJSqJHdaB3LkOiCrZwV2IQY98g__&Key-Pair-Id=APKAJF6QV4IIZQBZN32Q") format("woff");
  font-style: normal;
  font-weight: bold;
  unicode-range: U+0000-DFFF, U+F900-FFFD;
}
@font-face {
  font-family: "Nitti Grotesk";
  src: url("http://type.persona.co/NittiGrotesk/4b969e7d-9f44-4ba1-95fe-728c6cf792bd-3.woff?Expires=1505835058&Signature=a9GGNO8Baz6sJlu7zToxHpcvl93faoBRFbHWptxZEKOqFpW5Jp7gnwiG9VYbJ-ZxgUofZFTvPN5fDR2~BtNqw7~bzh9eTOQfyds2BzE5klEnyYdTuQjEp6eCc5E7e5skfyCG1NXFXlMft3oqCj8MpcaoNTqg3MTTv1jZUONuyk5J6A~3rEumvNN2UZM4u8oWpsbj7LeriUavB6ucScXEjUPThWS9JIwENjeu8ZCn5IL3rJh4L4N6oELXEWtIOVYaxMPqyhTNnxBKXN~WT5RxPxMvkWKjSRcT5sYSgI5OYQnyVInx9xsYapU9mZGj1LMujP8Es-B4xL3kcBUWM0QYaQ__&Key-Pair-Id=APKAJF6QV4IIZQBZN32Q") format("woff");
  font-style: italic;
  font-weight: bold;
  unicode-range: U+0000-DFFF, U+F900-FFFD;
}
@font-face {
  font-family: "Titling Gothic FB Wide";
  src: url("http://type.persona.co/TitlingGothicFBWide/5a7f5f27-9460-4aef-b8a4-8e83f5dc7477-3.woff?Expires=1505835058&Signature=Q12xjH2KT5Z45lYsI1tAhgrwq2nD~1SlV8kVyu222hCDkMgIEXFLEYexEHGA5UhMrflgqQ0hmrEC5kpowhoQLifU8l0XpKwWvc9I8vSWQAPQqlthBq~bENc2S~Gn6I3XUf2TgMsqCeGlt~8pMx0e9~RaxOUpjmVCCdQcL984u47XQxloVmjTioEk32N9IohPGcx6xpDOvJLED6pqX6shw6z8MzCjEwEY3sSxe6IeVuhIjdou~68JBn-qhh69efiEsIC-S5Lr617u1GlRhPUkhmPe4tJ1MfJDFxLixc-st9dj2y7KBP17gfcZy8KJr3ove1OOlWvPv6sfvfptfJyHLw__&Key-Pair-Id=APKAJF6QV4IIZQBZN32Q") format("woff");
  font-style: normal;
  font-weight: normal;
  unicode-range: U+0000-DFFF, U+F900-FFFD;
}
@font-face {
  font-family: "Titling Gothic FB Wide";
  src: url("http://type.persona.co/TitlingGothicFBWide/3fc4d653-17a9-4c4c-b12d-97f1f2de6a10-3.woff?Expires=1505835058&Signature=R62ULcr4qZpMhGdq27mIinG5hTsCCzs3AaLlDBnFqACla~tW0-wtu80IEs9Iz3IeCATWDx2Lb2SWT9NvMevhA7j8YmBn2Y3wfJgZA2-WwruuBbV9KfOrCUbR1yO3LuLi1k0JXMfTYmr3iTJVioq4AF04HBgx-VThwpCOXr6B7VIchyjx3pOuytmUjDK~OVQRV13T1zIfRBm-gFAvJY-iNTncw6pqnwrmHFdiee158AI4tvkekUf7jifFTdtYhjJliXm54zzXEuI~DmFNAr9u7GY~YoPSF28bf~6RNZf5t2xGkbMgDJmrfd1STUr6UTnUv9y38nTu-NqibC0uTITrjg__&Key-Pair-Id=APKAJF6QV4IIZQBZN32Q") format("woff");
  font-style: normal;
  font-weight: bold;
  unicode-range: U+0000-DFFF, U+F900-FFFD;
}
@font-face {
  font-family: "Nitti";
  src: url("http://type.persona.co/Nitti/150d43a6-939b-4bb0-82b2-bfd5ef995055-3.woff?Expires=1505835058&Signature=F3rvj6~5E2VY7r2lbQYbJL1zHT5~YWrInKuLmErXESS6nZH8iA7qMVE9ldazIv-7n31LYHN9BeZq5Cwi~8BuB8SpNG8X7ssdKVhquM3vJaO7BDm0ORsmhIqBjM8ulesAdXyXMT9ptoK9sy1tvBNoM5WNovcjCRmkdpMvk7ijSACFNr6-9dgKfTZx6fDPHc~QD132NKaL7ubg1hsKpS7ENt6jEoZwBnLpnFIMOKxKwEbUCYnYFsyVLy0erFX97eICvxoj~mW0iKi4S0egEpHBoMRfDgLn2JM2IP3Y9FDwxRHfrQ1kiW52IcPS58iHCcXUpnm46lYgNIVnUhhyJCSO5w__&Key-Pair-Id=APKAJF6QV4IIZQBZN32Q") format("woff");
  font-style: normal;
  font-weight: normal;
  unicode-range: U+0000-DFFF, U+F900-FFFD;
}
@font-face {
  font-family: "Nitti";
  src: url("http://type.persona.co/Nitti/d4f5d775-4827-410c-a163-c40d9b0d2ecb-3.woff?Expires=1505835058&Signature=Z8WAnlDIrO4K3jYzDI9t67vYTHGKdTf2kX6NCIvoDSJ1BvVA5yrtstCKLSwoftwiqeyH6LMIqsHpB91sowrCeFrdoO5hjrEjFCluuQfib0S~iB~SHBc76FQb7Otk5xh-pl5BojCMhfWrh2CSDg9imtM9DtEEji3d-9eY6M5dklZBEIYvWThOnLIhVK0~w6i34yx5ti344QSrVXz3kDZVD2RWpv-b6fTPIM-uZ2l0xMte82EApGHS5EAv961Y6v3LTxewryAZ6qdoshgokl3s0B-vcjEExbPFV~V3hFM490y8PlUH3Keqoc4Stxr1GBU03xnLaABsdcBQ2gg1e8wgmw__&Key-Pair-Id=APKAJF6QV4IIZQBZN32Q") format("woff");
  font-style: italic;
  font-weight: normal;
  unicode-range: U+0000-DFFF, U+F900-FFFD;
}
@font-face {
  font-family: "Nitti";
  src: url("http://type.persona.co/Nitti/001dd084-ca7d-4947-a286-c03c01a8852c-3.woff?Expires=1505835058&Signature=Va~RMC-XbcS6IzyhfXJHBNo6D058iLmKoOdr9rUfcNXtGHh842Eln-as57Z8bHrq4dRfPgqqUd8XAJguyr7aqrSTGqyCB3HZBvdszc-XARQy1LtNL-DwXRlY~V0UIwaoMi0aXZn-dGBxoOeeY83I8M4fozsITlz9nTVhNVQxTwprH9snTT5magEUkOpPq4ow4SzfbAbqSDp74rad8N7f1tCSn0EMumsRiqri6r14wu-Ym9FPBeIwzXvz76wf~REIFEkbK2iABke201TtRBDqN9MWK~h49PbJahefVhTAcdfkTnlCpRnNcKaphl9SbWRHi2WS8HyJTBNVPXTRCkaGww__&Key-Pair-Id=APKAJF6QV4IIZQBZN32Q") format("woff");
  font-style: normal;
  font-weight: bold;
  unicode-range: U+0000-DFFF, U+F900-FFFD;
}
@font-face {
  font-family: "Nitti";
  src: url("http://type.persona.co/Nitti/9ff8f975-f65d-41cb-a61d-000bfbb0869f-3.woff?Expires=1505835058&Signature=LBQbV9ojaydWaZ407nB9lmzFJriVlwlRH4xovJW~F9JxYK7j-alMdyGbv3ZZi2L1zY~Esd5C-4xkp6V10Jbev88b6kcIvg5S6OhDQjPl0j15iuC-2b9rj2wFLXWNOhjL7M8I3FptSgWNnLRm0sdZZ1hTPn6I6jQ8Is9X53JD20M78Ko1krZJrC7kx3ZluzPmsnRi~VBM6nPCIULD5x~6WhX3OonCQ1EIkLG152sLvm~-zXs0E1a5JeFYepQgY8rQh2wUX-SASU044iBaAhccOoP6H1RcGjhF-SgV9qFs-YphwAyaY4gktJ4bW~gaFy6g7IbCc8vNHt8PpgVypyT7sQ__&Key-Pair-Id=APKAJF6QV4IIZQBZN32Q") format("woff");
  font-style: italic;
  font-weight: bold;
  unicode-range: U+0000-DFFF, U+F900-FFFD;
}
